@*@inject UserManager<ApplicationUser> UserManager*@

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Rewards</a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Leaderboards
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="btn btn-link navbar-btn navbar-link" asp-area="" asp-controller="Commutes" asp-action="LeaderBoards">Leaderboards</a>
                        <a class="btn btn-link navbar-btn navbar-link" asp-area="" asp-controller="Commutes" asp-action="LeaderBoardsBusiness">Business Leaderboards</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Commutes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="btn btn-link navbar-btn navbar-link" asp-area="" asp-controller="Commutes" asp-action="Index">My Commute Log</a>
                        <a class="btn btn-link navbar-btn navbar-link" asp-area="" asp-controller="Commutes" asp-action="Create">Commute Entry</a>
                    </div>
                </li>
                <li>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-area="" asp-controller="Manage" asp-action="ManagementConsole" title="Manage"><span class="emphasizeOrange">Management Console</span></a>
                    }
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>