body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
 
}

.navbar{
    background-color: rgba(0,0,0,0.8);
}

.navbar-nav > li > a{
    line-height: 27px;
    font-size:18px;
    transition:background-color 0.5s;
}

.navbar-nav > li > a:hover {
    background-color:darkorange;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner {
    max-height: 310px;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.6);
    border-radius: 25px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*Home Pages*/
.indexWrapper{
    background-color:darkcyan;
    color:white;
    padding:2%;
    text-align:center;
}

/*General Text*/
h1,h2,h3,h4,h5,h6,p{
    text-align:center;
    width:100%;
    margin:0 auto;
}
a{
    color:white;
    transition:color 0.5s;
}
a:hover{
    color:cyan;
    text-decoration:none;
}

.text-danger{
    background-color:rgba(0,0,0,0.6);
    border-radius:5px;
}

.emphasizeOrange{
    color:darkorange;
    font-weight:bolder;
}

/*Buttons*/
.nav-pills{
    background-color:black;
    transition:background-color 0.5s;
}
.nav-pills > li:hover{
    background-color:darkorange;
}

.btn-main {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px 5px;
    margin: 5px 5px;
    min-width: 150px;
    transition: background-color 0.5s, border-color 0.5s;
}

    .btn-main:hover {
        background-color: darkorange;
        border-color:orange;
    }

/*Images*/
.thumbnailTiny {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: inline;
    object-fit: cover;
    margin-right: 10px;
}

.thumbnailNavBar {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: inline;
    object-fit:cover;
}

.profilePhoto {
    width: 100%;
    min-height: 250px;
    border-radius: 100%;
    object-fit:cover;
}

/*Profile*/
.profileOverview{
    padding:1%;
    background-color:darkcyan;
    color:white;
    border-radius:10px;
}

.profileName{
    padding:0px;
    margin:0;
}

.profileLeaderboardLink{
    color:white;
    transition:color 0.5s;
}

.profileLeaderboardLink:hover{
    color:cyan;
    text-decoration:none;
}

.profileButtonLink{
    color:white;
    text-decoration:none;
    text-indent:0px;
    transition:ease-out text-indent 1s;
}
.profileButtonLink.hover{
    text-indent:10px;
}

.profileBio {
    overflow: hidden;
    word-wrap: break-word;
}

/*Leaderboards*/

.leaderboardNameDiv{
    background-color:inherit;
    transition: background-color 0.5s, color 0.5s;
    border-radius:15px;
}

.leaderboardNameDiv:hover{
    background-color:darkorange;
    color:white;
}
table{
    background-color:darkcyan;
    color:white;
    border-radius:10px;
}
table a{
    color:white;
}

.tableContainer{
    background-color:darkcyan;
    color:white;
    border-radius:10px;
}

/*Forms*/
.genericForm{
    width:66%;
    margin:0 auto;
    text-align:center;
    background-color:darkcyan;
    color:white;
    padding:2%;
    border-radius:25px;
}
.genericForm input, .genericForm textarea, .genericForm select{
    border-radius:10px;
    color:black;
}
.genericForm label{
    font-size:18px;
    text-align:left;
}

input[type=file]{
    margin:0 auto;
}

.genericForm input[type=submit]{
    color:white;
}

.genericFormWide {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: darkcyan;
    color: white;
    padding: 2%;
    border-radius: 25px;
}

    .genericFormWide input, .genericFormWide textarea, .genericFormWide select {
        border-radius: 10px;
        color: black;
        width:75%;
        margin:0 auto;
    }

    .genericFormWide label {
        font-size: 18px;
        text-align: left;
    }

.genericFormWide input[type=submit] {
    color: white;
}

/*Secitons*/
.genericSection {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: darkcyan;
    color: white;
    padding: 2%;
    border-radius: 25px;
}

/*Footer*/
footer{
    text-align:center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .carousel-caption p {
        font-size: 10px;
        line-height: 1.4;
    }
    .carousel-caption h1{
        font-size: 16px;
    }
    .carousel-inner {
        max-height: 100px;
    }
    .btn-main{
        font-size: 10px;
        min-width: 80px;
        padding:5px 5px;
    }
    .genericForm {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: darkcyan;
        color: white;
        padding: 2%;
        border-radius: 25px;
    }
}
