body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar{
    background-color: rgba(0,0,0,0.8);
}

.navbar-nav > li > a{
    line-height: 27px;
    font-size:18px;
    transition:background-color 0.5s;
}

.navbar-nav > li > a:hover {
    background-color:darkorange;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner {
    max-height: 325px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

/*Images*/
.thumbnailTiny {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: inline;
    background-position: center center;
    background-repeat: no-repeat;
}

.thumbnailNavBar {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: inline;
    background-position: center center;
    background-repeat: no-repeat;
}

.profilePhoto {
    width: 100%;
    height: auto;
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/*Profile*/
.profileOverview{
    padding:1%;
    background-color:darkcyan;
    color:white;
    border-radius:10px;
}

.profileName{
    padding:0px;
    margin:0;
}

.profileLeaderboardLink{
    color:white;
    transition:color 0.5s;
}

.profileLeaderboardLink:hover{
    color:cyan;
    text-decoration:none;
}

.profileButtonLink{
    text-indent:0px;
    transition:ease-out text-indent 1s;
}
.profileButtonLink.hover{
    text-indent:10px;
}

/*Leaderboards*/

.leaderboardNameDiv{
    background-color:inherit;
    transition: background-color 0.5s, color 0.5s;
    border-radius:15px;
}

.leaderboardNameDiv:hover{
    background-color:darkcyan;
    color:white;
}

/*Footer*/
footer{
    text-align:center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .carousel-caption p {
        font-size: 10px;
        line-height: 1.4;
    }
}
