body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar{
    background-color: rgba(0,0,0,0.8);
}

.navbar-nav > li > a{
    line-height: 27px;
    font-size:18px;
    transition:background-color 0.5s;
}

.navbar-nav > li > a:hover {
    background-color:darkcyan;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner {
    height: 325px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*Images*/
.thumbnailTiny {
    width: 50px;
    height: auto;
    border-radius: 10px;
    display: inline;
}

.thumbnailNavBar {
    width: 20px;
    height: auto;
    border-radius: 3px;
    display: inline;
}

.profilePhoto{
    width:100%;
    height:auto;
    border-radius:100%;
    display:inline;
}

/*Profile*/
.profileOverview{
    padding:1%;
    background-color:darkcyan;
    color:white;
    border-radius:10px;
}

.profileName{
    padding:0px;
    margin:0;
}

.profileOverview a{
    color:white;
    transition:color 0.5s;
}

.profileOverview a:hover{
    color:cyan;
    text-decoration:none;
}

/*Leaderboards*/

.leaderboardNameDiv{
    background-color:inherit;
    transition: background-color 0.5s, color 0.5s;
    border-radius:15px;
}

.leaderboardNameDiv:hover{
    background-color:darkcyan;
    color:white;
}

/*Footer*/
footer{
    text-align:center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}
