@model SmartCommuteEmmet.Models.Business

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Business</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="genericForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BusinessName" class="control-label"></label>
                <input asp-for="BusinessName" placeholder="Grain Train" class="form-control" />
                <span asp-validation-for="BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessDescription" class="control-label"></label>
                <input asp-for="BusinessDescription" placeholder="What is this business and what do they do?" class="form-control" />
                <span asp-validation-for="BusinessDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessStreet" class="control-label"></label>
                <input asp-for="BusinessStreet" placeholder="Mitchell Street" class="form-control" />
                <span asp-validation-for="BusinessStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessCity" class="control-label"></label>
                <input asp-for="BusinessCity" placeholder="Petoskey" class="form-control" />
                <span asp-validation-for="BusinessCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessZIP" class="control-label"></label>
                <input asp-for="BusinessZIP" placeholder="49770" class="form-control" />
                <span asp-validation-for="BusinessZIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessLink" class="control-label"></label>
                <input asp-for="BusinessLink" placeholder="e.g. www.Latitude45.com" class="form-control" />
                <span asp-validation-for="BusinessLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-main" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}