@model SmartCommuteEmmet.Models.CommuteType

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CommuteType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CommuteTypeName" class="control-label"></label>
                <input asp-for="CommuteTypeName" class="form-control" />
                <span asp-validation-for="CommuteTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommutePointsAwarded" class="control-label"></label>
                <input asp-for="CommutePointsAwarded" class="form-control" />
                <span asp-validation-for="CommutePointsAwarded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommuteTypeDescription" class="control-label"></label>
                <input asp-for="CommuteTypeDescription" class="form-control" />
                <span asp-validation-for="CommuteTypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-main" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
