@model SmartCommuteEmmet.Models.StartPoint

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>StartPoint</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="genericForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartPointName" class="control-label"></label>
                <input asp-for="StartPointName" placeholder="e.g. Petoskey Downtown" class="form-control" />
                <span asp-validation-for="StartPointName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPointDescription" class="control-label"></label>
                <input asp-for="StartPointDescription" placeholder="What areas does this point include?" class="form-control" />
                <span asp-validation-for="StartPointDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPointLongitude" class="control-label"></label>
                <input asp-for="StartPointLongitude" placeholder="e.g. 30.0000000" class="form-control" />
                <span asp-validation-for="StartPointLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPointLatitude" class="control-label"></label>
                <input asp-for="StartPointLatitude" placeholder="e.g. 30.0000000" class="form-control" />
                <span asp-validation-for="StartPointLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-main" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

