@model SmartCommuteEmmet.Models.Commute

@{
    ViewData["Title"] = "Commute Entry";
}


@await Html.PartialAsync("_SavedCommutesForm", new List<SmartCommuteEmmet.Models.CommuteViewModels.SavedCommuteViewModel>())

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="genericForm">
            <h2>@ViewData["Title"]</h2>
            <h4>Log your Smart Commute.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CommuteDistance" class="control-label"></label>
                <input asp-for="CommuteDistance" placeholder="Enter a value from 1-20" class="form-control" />
                <span asp-validation-for="CommuteDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommuteDescription" class="control-label"></label>
                <textarea asp-for="CommuteDescription" placeholder="Enter your commute's description here." class="form-control" rows="5" cols="40"></textarea>
                <span asp-validation-for="CommuteDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CommuteSaved" /> @Html.DisplayNameFor(model => model.CommuteSaved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CommuteName" class="control-label"></label>
                <input asp-for="CommuteName" placeholder="Enter your commute's name here." class="form-control" />
                <span asp-validation-for="CommuteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommuteDate" class="control-label"></label>
                <input asp-for="CommuteDate" placeholder="MM/DD/YYYY" class="form-control" />
                <span asp-validation-for="CommuteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommuteTypeId" class="control-label"></label>
                <select asp-for="CommuteTypeId" class="form-control" asp-items="ViewBag.CommuteTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartPointId" class="control-label"></label>
                <select asp-for="StartPointId" id="startPointDropdown" class="form-control" asp-items="ViewBag.StartPointId" onchange="CheckStartPointSelect();">
                    <option value="">Please Select a Start Point.</option>
                    <option value="0">Enter Custom Start Point</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StartPointCustom" class="control-label"></label>
                <input asp-for="StartPointCustom" id="customStartPoint" placeholder="Enter a custom start point here." class="form-control" disabled="disabled"/>
                <span asp-validation-for="StartPointCustom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndPointId" class="control-label"></label>
                <select asp-for="EndPointId" id="endPointDropdown" class="form-control" asp-items="ViewBag.EndPointId" onchange="CheckEndPointSelect();">
                    <option value="">Please Select an End Point.</option>
                    <option value="0">Enter Custom End Point</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EndPointCustom" class="control-label"></label>
                <input asp-for="EndPointCustom" id="customEndPoint" placeholder="Enter a custom end point here." class="form-control" disabled="disabled" />
                <span asp-validation-for="EndPointCustom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-main" />
                <hr />
                <a asp-action="Index">Return to Your Commute Log</a>
            </div>
        </form>
    </div>
</div>

<script>
    function CheckStartPointSelect() {
        if ($('#startPointDropdown').val() == 0 && $('#startPointDropdown').val() != "" ) {
            $('#customStartPoint').removeAttr('disabled');
        } else {
            $('#customStartPoint').attr('disabled', 'disabled');
        }
    }
    function CheckEndPointSelect() {
        if ($('#endPointDropdown').val() == 0 && $('#endPointDropdown').val() != "") {
            $('#customEndPoint').removeAttr('disabled');
        } else {
            $('#customEndPoint').attr('disabled', 'disabled');
        }
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
