@model SmartCommuteEmmet.Models.Commute

@{
    ViewData["Title"] = "Edit Your Commute";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="genericForm">
            <h2>Edit Your Commute</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CommuteDistance" class="control-label"></label>
                <input asp-for="CommuteDistance" class="form-control" />
                <span asp-validation-for="CommuteDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommuteDescription" class="control-label"></label>
                <textarea asp-for="CommuteDescription" class="form-control"></textarea>
                <span asp-validation-for="CommuteDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CommuteSaved" /> @Html.DisplayNameFor(model => model.CommuteSaved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CommuteName" class="control-label"></label>
                <input asp-for="CommuteName" class="form-control" />
                <span asp-validation-for="CommuteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommuteDate" class="control-label"></label>
                <input asp-for="CommuteDate" class="form-control" />
                <span asp-validation-for="CommuteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommuteTypeId" class="control-label"></label>
                <select asp-for="CommuteTypeId" class="form-control" asp-items="ViewBag.CommuteTypeId"></select>
                <span asp-validation-for="CommuteTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPointId" class="control-label"></label>
                <select asp-for="StartPointId" class="form-control" asp-items="ViewBag.StartPointId"></select>
                <span asp-validation-for="StartPointId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPointCustom" class="control-label"></label>
                <input asp-for="StartPointCustom" class="form-control" />
                <span asp-validation-for="StartPointCustom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndPointId" class="control-label"></label>
                <select asp-for="EndPointId" class="form-control" asp-items="ViewBag.EndPointId"></select>
                <span asp-validation-for="EndPointId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndPointCustom" class="control-label"></label>
                <input asp-for="EndPointCustom" class="form-control" />
                <span asp-validation-for="EndPointCustom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Return to Your Commute Log</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
