@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="genericSection">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <p>
        Please check your email to reset your password.<br />
        It may take several minutes to arrive and may arrive in your
        junk or spam folder.
    </p>
</div>