@model SmartCommuteEmmet.Models.Breakfast

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Breakfast</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="genericForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BreakfastName" class="control-label"></label>
                <input asp-for="BreakfastName" placeholder="Restaurant's Name here." class="form-control" />
                <span asp-validation-for="BreakfastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakfastDescription" class="control-label"></label>
                <input asp-for="BreakfastDescription" placeholder="9AM-11:30AM" class="form-control" />
                <span asp-validation-for="BreakfastDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakfastStreet" class="control-label"></label>
                <input asp-for="BreakfastStreet" placeholder="Mitchell Street" class="form-control" />
                <span asp-validation-for="BreakfastStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakfastCity" class="control-label"></label>
                <input asp-for="BreakfastCity" placeholder="Petoskey" class="form-control" />
                <span asp-validation-for="BreakfastCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakfastZIP" class="control-label"></label>
                <input asp-for="BreakfastZIP" placeholder="49770" class="form-control" />
                <span asp-validation-for="BreakfastZIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakfastLink" class="control-label"></label>
                <input asp-for="BreakfastLink" placeholder="www.example.com" class="form-control" />
                <span asp-validation-for="BreakfastLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-main" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

