@model SmartCommuteEmmet.Models.Sponsor

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Sponsor</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data" class="genericForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SponsorImagePath"></label>
                <input type="file" name="SponsorImagePath" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
            </div>
            <div class="form-group">
                <label asp-for="SponsorName" class="control-label"></label>
                <input asp-for="SponsorName" placeholder="e.g. Latitude45" class="form-control" />
                <span asp-validation-for="SponsorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SponsorDescription" class="control-label"></label>
                <input asp-for="SponsorDescription" placeholder="Who is the sponsor and what do they do?" class="form-control" />
                <span asp-validation-for="SponsorDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SponsorLink" class="control-label"></label>
                <input asp-for="SponsorLink" placeholder="www.Latitude45.com" class="form-control" />
                <span asp-validation-for="SponsorLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-main" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

